.circle-styling {
    stroke: #848a91;
    stroke-width: 1;
    fill: none;
}

.text-styling {
    fill: #848a91;
}


.svg-container {
    height: 110%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: lightgray;
}

@media (max-width: 1399px) {
    .svg-container {
        overflow-x: auto;
        min-height: 100px;
        min-width: 300px;
    }
}